.btn {
  padding: 1rem 2rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: $font-black;
  display: inline-block;
}

.btn-default {
  background-color: #000;
  color: #fff;
}

.btn-border {
  border: 2px solid #fff;
  color: #fff;
}