nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 0;

  @media (min-width: 768px) {
    margin-top: 60px;
  }

  ul {
    display: none;
    width: 100vw;
    height: 100vh;

    @media (min-width: 768px) {
      height: auto;
      display: block;
    }

    li {
      display: inline-block;

      @media (min-width: 768px) {
        display: inline-block;

        &:last-child {
          display: none;
        }
      }

      a {
        display: inline-block;
        text-decoration: none;
        font-weight: $font-thin;
        font-size: 1.3rem;
        padding: 10px 60px;

        @media (min-width: 768px) {
          display: inline-block;
          text-decoration: none;
          font-weight: $font-thin;
          font-size: 1.3rem;
          padding: 10px 60px;

          &:first-child {
            padding-left: 0;
          }
        }
        
        &.active {
          font-weight: $font-bold;
        }
      }
    }
  }

  div {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }

    a {
      display: inline-block;
      text-decoration: none;
      font-weight: $font-bold;
      font-size: 1.3rem;
      padding: 10px 40px;
      border: 2px solid $primary-color;
      border-radius: 10px;
      white-space: nowrap;
    }
  }

  input {
    opacity: 0;
    z-index: 2;
    position: absolute;
    top: 30px;
    right: 16px;
    width: 50px;
    height: 26px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  input:checked ~ ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #hamburger-nav {
    z-index: 1;
    position: absolute;
    top: 30px;
    right: 20px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (min-width: 768px) {
      display: none;
    }

    span {
      display: inline-block;
      width: 50px;
      height: 6px;
      border-radius: 3px;
      background-color: $primary-color;
      transition: .6s;
    }
  }

  input:checked ~ #hamburger-nav {
    
    span {

      &:first-child {
        transform: rotate(45deg) translate(8px, 7px);

        @media (min-width: 768px) {
          padding-left: 0
        }
      }
  
      &:nth-child(2) {
        opacity: 0
      }
  
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

