// colors
$primary-color: #232323;

// font
$font-default: 'Lato', sans-serif;
// $font-headline: 'Lato', sans-serif;
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-black: 900;